@page "/report/sales-by-category"
@using DotNet8.Pos.App.Models.Report

<MudGrid>
    <MudItem xs="5" sm="4">
        <MudDateRangePicker Margin="Margin.Dense" Editable="true" Clearable="true" DateFormat="dd/MMM/yyyy"
                            PlaceholderStart="Start Date" PlaceholderEnd="End Date" @bind-DateRange="@dateRangeValue" />
    </MudItem>
</MudGrid>
<MudButton Class="mt-5 mb-5" Variant="MudBlazor.Variant.Filled" Color="Color.Primary" OnClick="ApplyFilter">Apply</MudButton>
<br />

@if (salesByCategoryResponseModel is not null)
{
    int count = 0;
    <MudSimpleTable Style="overflow-x: auto;">
        <thead>
            <tr>
                <th>No.</th>
                <th>Category Code</th>
                <th>Category Name</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody>
            @if (salesByCategoryResponseModel.Data?.Report != null)
            {
                @foreach (var item in salesByCategoryResponseModel.Data.Report)
                {
                <tr>
                    <td>@(++count)</td>
                    <td>@item.ProductCategoryCode</td>
                    <td>@item.ProductCategoryName</td>
                    <td>@string.Format("{0:N0} MMK", item.TotalAmount)</td>
                </tr>
                }
            }
        </tbody>
    </MudSimpleTable>
    <MudPagination SelectedChanged="PageChanged" Variant="MudBlazor.Variant.Filled" Count="@(salesByCategoryResponseModel?.PageSetting?.PageCount ?? 0)" Style="margin-top:3%" />
}

@code {
    private SalesByCategoryListResponseModel? salesByCategoryResponseModel;
    private DateRange? dateRangeValue { get; set; }
    private int _pageNo = 1;
    private int _pageSize = 10;

    private async Task ApplyFilter()
    {
        await InjectService.EnableLoading();
        var fromDate = dateRangeValue?.Start?.ToString("yyyy-MM-dd");
        var toDate = dateRangeValue?.End?.ToString("yyyy-MM-dd");

        salesByCategoryResponseModel = await HttpClientService.ExecuteAsync<SalesByCategoryListResponseModel>(
            $"{Endpoints.Report}/sales-by-category/{fromDate}/{toDate}/{_pageNo}/{_pageSize}",
            EnumHttpMethod.Get
        );

        await InjectService.DisableLoading();
        StateHasChanged();
    }

    private async Task PageChanged(int i)
    {
        _pageNo = i;
        await ApplyFilter();
    }
}